<a href="https://colab.research.google.com/github/abdurrehmannn4t3/PROSENSIA/blob/main/TASK_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def string_to_int(s):
    try:
        return int(s)
    except ValueError:
        return None

# Example usage:
print(string_to_int("123"))  # Output: 123
print(string_to_int("abc"))  # Output: None

In [ ]:
def int_to_string(i):
    return str(i)

# Example usage:
print(int_to_string(123))  # Output: "123"

In [ ]:
import math

def float_to_int(f):
    return math.floor(f)

# Example usage:
print(float_to_int(3.7))  # Output: 3
print(float_to_int(3.2))  # Output: 3

In [ ]:
def list_of_strings_to_ints(lst):
    result = []
    for item in lst:
        try:
            result.append(int(item))
        except ValueError:
            continue
    return result

# Example usage:
print(list_of_strings_to_ints(["123", "456", "abc", "789"]))  # Output: [123, 456, 789]

In [ ]:
def add_numbers(a, b):
    return a + b

# Example usage:
print(add_numbers(10, 5))  # Output: 15

In [ ]:
def subtract_numbers(a, b):
    return a - b

# Example usage:
print(subtract_numbers(10, 5))  # Output: 5

In [ ]:
def multiply_numbers(a, b):
    return a * b

# Example usage:
print(multiply_numbers(10, 5))  # Output: 50

In [ ]:
def divide_numbers(a, b):
    try:
        return a / b
    except ZeroDivisionError:
        return "Cannot divide by zero"

# Example usage:
print(divide_numbers(10, 2))  # Output: 5.0
print(divide_numbers(10, 0))  # Output: Cannot divide by zero

In [ ]:
def concatenate_strings(s1, s2):
    return s1 + s2

# Example usage:
print(concatenate_strings("Hello, ", "World!"))  # Output: Hello, World!

In [ ]:
def reverse_string(s):
    return s[::-1]

# Example usage:
print(reverse_string("Hello"))  # Output: olleH